
body{
  background-color:darkslateblue;
}
.App {
  padding: 10% 10%;
  text-align: center;
}
div.square_button {
  margin: 2% 5%;
  width: 40%;
  aspect-ratio:1;
	float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:xx-large;
}
div.rect_button {
  margin: 2% 5%;
  width: 90%;
  aspect-ratio:2;
	float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:xx-large;
}
